@import "base/queries.css";
/* line 1, ../scss/base/_base.scss */
main {
  height: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/base/_reset.scss */
body, html {
  height: 100%;
}

/* line 34, ../scss/base/_reset.scss */
body {
  line-height: 1;
}

/* line 37, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea{
  padding: 1px;
}

body{
  background: rgb(63, 63, 105);
  color:#200101;
}

.welcome-msg{
  margin: 10px;
  background-color: rgba(58, 58, 58, 0.73);
  color: white;
  border: 2px solid #b6acda;
  border-radius: 2px;
  padding: 1em;
  border-top-right-radius: 61px;
  border-bottom-left-radius: 53px;  
  text-align: center;
}

.lessons-container > div {
  border: 4px solid #b6acda;
  border-radius: 59px;
  margin: 1em 0.5em;
  background: rgba(58, 58, 58, 0.73);
}

.lessons-container > div.editing .content{
  transition: opacity 900ms;
  opacity: 0.5;
}

.editing-element-wrapper{
  position: relative;
}

.editing-element{
  opacity: 0;
  visibility: hidden;
  transition: opacity 900ms, visibility 900ms;
 /* display: none;*/
  position: absolute;
  border: none;
  right: 63px;
  bottom: 0px;
  width: 70%;
  max-width: 200px;
  height: 20px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: rgb(252, 242, 149);
}

.date input.editing-element{
  left: 19px;
  bottom: 0px;
  width: 200px;
  text-indent: 10%;
  border-radius: 7px;
  text-transform: uppercase;
}

.editing-element-button{
  opacity: 0;
  visibility: hidden;
  transition: opacity 900ms, visibility 900ms;
  background-color: rgb(23, 44, 219);
  border: 0.08em solid rgb(120, 126, 155);
  background: linear-gradient(to bottom,#124eb8 0,rgb(45, 4, 55) 100%);
  margin-right: 3%;
  border-left: 0;
  border-radius: 0 .5em .5em 0;
  line-height: 1.25;
  height:  24px;
  color: #f6f226;
  font-size: .7em;
  position: absolute;
  bottom: -1px;
  right: -5px;
  letter-spacing: 1px;
}

.editing-element-button:focus{
  outline: none;
}

.lessons-container > div.editing .editing-element, 
.lessons-container > div.editing button.editing-element-button{
  display: block;
  visibility: visible;
  opacity: 1;
}


.date{
  display: flex;
  position: relative;
  margin: 0 auto;
  color: white;
  width: 70%;
  border-top-left-radius: 42px;
  border-top-right-radius:42px;
  padding:  1.1em 0;
  text-align: center;
}

.date .subject{
  margin: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.date .subject, .bottom .content{
  opacity: 1;
  visibility: visible;
  transition: opacity 900ms, visibility 900ms;
  width: 87%;
}

.date .icon-delete{
  position: absolute;
  right: 0em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 3px;
}

.date .icon-update{
  position: absolute;
  right: 3em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 3px;
}

.date .icon-update:hover , .icon-delete:hover{
  background: #B49EF1;
}

  
.bottom{
  margin-top: 20px;
  display: flex;
  margin-bottom: 30px;
}

.bottom > .editing-element-wrapper  {
  flex: 1;
  margin: 0 20px;
  border-radius: 8px;
}

.music-sheet{
  height:151px;
}

.tutorial{
  display: inline-block;
}

.video{
}

.info{
  background: #fff;
  padding: 20px;
  height: 71%;
}

.login-area{
  display: flex;
  max-width: 400px;
  padding: 10px;
  height: 1.3em;
  justify-content: center;
  border: 1px solid white;
  border-radius: 20px;
  margin: 200px auto;
  background: #8080EE;

  
}

.login-area p{
  color: white;
  margin-right: 20px;
}

.login-area button{
  width: 17%;
  border: 0.08em solid #9191BA;
  border-radius: 0 .5em .5em 0;
  border-left: 0;
  margin-right:20px; 
}

.login-area input{
  border: 0.08em solid #9191BA;
  border-radius:  .5em 0 0 .5em;
  border-right: 0;
  padding-left: 5px;
}

.new-lessons-container .new-bottom{
  border-radius: 4px;
  border: 4px solid #b6acda;
  border-radius: 44px;
  margin: 1em 0.5em;
}


.new-lessons-container >  * input {
  margin: 2em;
  padding: 1em;
  border: 1px solid  #DFEAE2;
}

.select-students{
  margin: 1em auto;
}

.new-bottom > * {
  border: 1px solid  #0A6122;
  border-radius: 4px;
  padding: 1em;
  margin: 10px;
}

.new-button{
  font-size: 0.75em;
  color: white;
  margin-left: 100px;
  background-color: rgb(23, 44, 219);
  border: 0.08em solid rgb(120, 126, 155);
  background: linear-gradient(to bottom,#124eb8 0,rgb(45, 4, 55) 100%);
}

.new-bottom textarea{
  margin-bottom: 2px;
  display: block;
}

@media (max-width : 1250px){
  .welcome-msg{
    text-align: center;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 24px;
  }

  .date .icon-delete{
    margin-right: 0;
  }

  .bottom {
    flex-direction: column;
  } 
  
  .bottom .tutorial, .video{
    height: 320px;
    height: 28em;
  }

  .date .subject, .bottom .content{
    width: 100%;
  }

  .bottom > * {
    margin: 10px;
    height: 100%;
  }

  .date{
    height: 3em;
    padding: 1.5em;
  }

  .music-sheet{
    height: 100%;
  }

  .bottom .info{
    height: 100%;
    width: auto;
  }

  .login-area{
    margin: 100px auto;
    height: 2.3em;
  }
}

@media (max-width: 460px){
  #select-students{
    margin-bottom: 1em;
  }

  .date .icon-delete, .date .icon-update{
    width: 1.3em;
  }
}